.navBar {
    background: white;
    border-bottom: 2px solid #0b3d91;
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbarContainer {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 100px;
    flex-shrink: 0;
    transition: all .2s;
    margin-right: 20px;
}

.navItem a {
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 20px;
    color: #242424 !important;
}

.navItem a.active {
    color: #f90931 !important;
}
.navItem a:hover {
    color: #ff4c60;
}