@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');
:root {
  --space-black: #000000;
  --space-white: #ffffff;
  --space-gray: #181818;
  --space-accent: #8e8e8e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--space-black);
  color: var(--space-white);
  line-height: 1.6;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--space-black);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(circle at center, #0a0a0a 0%, #000000 100%);
  background-attachment: fixed;
  color: #ffffff;
}

