.footer {
    background-color: rgba(0, 0, 0, 0.7); 
    backdrop-filter: blur(15px);  
    -webkit-backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    color: white;
    padding: 20px 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#course {
    font-size: 20px;
    margin-right: 30px;
    max-width:250px;
}

.logo {
    flex-shrink: 0;
    max-width: 80px;
    margin: 0 6px;
    align-self: center;
}
.logo:hover{
    transform: scale(1.1);
}

.copyright {
    padding-left: 20px;
    justify-content: space-between;
    align-items: stretch;
}


.footerNav{
    padding-left: 20px;
}
.footerNav a{
    margin: 8px 0;
    display: inline-block;
}
