.footer {
    background: #061f4a;
    color: white;
    padding: 20px 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#course {
    font-size: 20px;
    margin-right: 30px;
    max-width:250px;
}

.logo {
    flex-shrink: 0;
    max-width: 80px;
    margin: 0 6px;
    align-self: center;
}

.copyright {
    border-left: 1px solid #393939;
    padding-left: 20px;
    justify-content: space-between;
    align-items: stretch;
}


.footerNav{
    border-left: 1px solid #393939;
    padding-left: 20px;
}
.footerNav a{
    margin: 8px 0;
    display: inline-block;
}

.active{
    border-bottom: 1px solid #dd092f;
}